.card-container { 
    perspective: 1000px; 
    width: 30rem; 
    height: 25rem;
    margin: auto !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
} 
.card { 
    position: absolute; 
    width: 100% !important; 
    height: 100% !important; 
    border-radius: 15px; 
    overflow: hidden; 
    background-color: rgba(255, 255, 255, 0.05);
    margin: auto !important;
}
.go-back{
    padding: 1rem 0 0 2rem !important;
}

.bi-arrow-left{
    cursor:  pointer !important;
}
.form-control { 
    border-radius: 10px; 
    padding: 12px; 
    margin-bottom: 15px; 
    border: 1px solid #468C98; 
    background-color: rgba(0, 0, 0, 0.15) !important; 
    transition: all 0.3s; 
    color: #FCFAF9 !important;
} 
.form-control:focus { 
    border-color: #468C98 !important; 
    box-shadow: 0 0 1px #468C98,
                  0 0 2px #468C98,
                  0 0 6px #468C98,
                  0 0 8px #468C98 !important;
}
.form-label { 
    font-weight: 500; 
    margin-bottom: 8px; 
    color: #e0e0e0; 
} 
.form-button{
    background-color: rgba(0, 0, 0, 0.15) !important;
    margin-top: 1rem !important;
    border: 1px solid #ADD9F4 !important;
    width: 100% !important;
    color: #FCFAF9;
    height: 3rem !important;
    font-weight: 600 !important;
    bottom: 20px !important;
    margin-bottom: 2rem !important;
}
.form-button:hover{
    background-color: #ADD9F4 !important;
    box-shadow: 0 0 2px #ADD9F4,
                    0 0 5px #ADD9F4,
                    0 0 10px #ADD9F4,
                    0 0 15px #ADD9F4 !important;
    color: #0A0F1C !important;
}
.card {
    height: fit-content !important;
}
@media (max-width:430px) {
    .card-container{
        max-width: 90% !important;
    }
}
.header{
    color:#468C98;
}
.password-field { 
    position: relative; 
} 
.password-toggle {
    z-index: 1;
}
.password-toggle { 
    position: absolute; 
    top: 50%; 
    right: 10px; 
    transform: translateY(-50%); 
    background: transparent; 
    border: none; 
    color: #468C98; 
    cursor: pointer; 
    padding: 5px; 
    font-size: 14px; 
} 